extends layout


block content

    .row
        .col-md-12.mt-5
            .jumbotron
                h1.display-4 in the course
              
                        
                        
    