extends layout


block content
    .row
        .col-md-12.mt-5
            .jumbotron
                h1.display-4 Courses Description
                hr.my-4
                .card.mb-3
                    h5.card-header Course
                    .card-body
                        h5.card-title #{course.title} 
                        p.card-text   #{course.desc}
                if  course.ownByStudent == null
                    each student in course.ownByStudent
                        p.card-text #{student.profile.name}
                else
                    p.card-text
                        | Enrolled Students:0
    .row
        .col-md-12
            form(action='/payment', method='POST')
                input(type="hidden", name="courseId" value=course._id)
                script.stripe-button(src='https://checkout.stripe.com/checkout.js', data-key='pk_test_t5RVGSiFzAstEidfPqasSlvU', data-amount=(course.price*100), data-name='Demo Site', data-description='Widget', data-image='https://stripe.com/img/documentation/checkout/marketplace.png', data-locale='auto')


                       
                        
                        
    