doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap-material-design.css')
  body
  if !user
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.py-3
      .container
        a.navbar-brand(href='#') eClone
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarsExampleDefault.collapse.navbar-collapse 
          ul.navbar-nav.mr-auto
            li.nav-item.active
                a.nav-link(href='#')
                  | Home 
                  span.sr-only (current)
          ul.navbar-nav
                li.nav-item
                    a.nav-link(href='/users/login')
                      | Login 
                      span.sr-only (current)
                li.nav-item
                  a.nav-link(href='')
                      | Register 
  else
     nav.navbar.navbar-expand-md.navbar-dark.bg-dark.py-3
      .container
        a.navbar-brand(href='#') eClone
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarsExampleDefault.collapse.navbar-collapse 
          ul.navbar-nav.mr-auto
            li.nav-item.active
                a.nav-link(href='#')
                  | Home 
                  span.sr-only (current)
            li.nav-item
                a.nav-link(href='#')
                  | Profile
          ul.navbar-nav
            if user.role == "teacher"
                li.nav-item.dropdown
                  a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | Dashboard
                  .dropdown-menu(aria-labelledby='navbarDropdown')
                    a.dropdown-item(href='teacher-dashboard') Instructor's Dashboard
                    a.dropdown-item(href='#') Revenue Report
                li.nav-item
                    a.nav-link(href='/logout')
                      | Logout
            else
                li.nav-item
                  a.nav-link(href="become-an-instructor")
                    | Become an Instructor
                  href
                li.nav-item
                  a.nav-link(href='/logout')
                    | Logout
                
        
           

  div.container
    block content
  script(src='/javascripts/jquery-3.2.1.slim.min.js')
  script(src='/javascripts/popper.js')
  script(src='/javascripts/bootstrap-material-design.js')

