extends layout

block content
    .row
        .col-lg-6.col-md-offset-3
            h2 Login with facebook
            hr
            a(href="auth/facebook" class="btn btn-outline-primary") Login
        