extends layout


block content

    .row
        .col-md-6.offset-md-3.mt-5
            a.btn.btn-primary.btn-raised.btn-lg.btn-block(href="create") Create a new Course
    .row
        .col-md-12.mt-5
            .jumbotron
                h1.display-4 Courses you teach
                hr.my-4
            each coursesTeach,i in foundUser.coursesTeach
                .card.mb-3
                    h5.card-header Course #{(i+1)}
                    .card-body
                        h5.card-title #{coursesTeach.course.title}
                        p.card-text #{coursesTeach.course.desc}
                        a.btn.btn-primary(href='edit-course/'+coursesTeach.course._id) Go somewhere
                        
    